/*---- MODULES kan ikke bruke ID for styling----*/

.tittel {
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: 2%;
}

.ingredienser {
  color: rgb(73, 73, 73);
  text-align: left;
  padding-left: 4%;
}

.pris {
  color: rgb(255, 59, 16);
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1%;
  background-color: rgb(201, 200, 200);
  border: black solid 1px;
  border-radius: 10px;
  gap: 40px;
}

.card:hover {
  text-decoration: underline 2px solid rgb(12, 4, 252);
  cursor: pointer;
}
