/*---- MODULES kan ikke bruke ID for styling----*/

.tittel {
  color: rgb(0, 0, 0);
}

.ingredienser {
  color: rgb(133, 133, 133);
}

.pris {
  color: rgb(255, 43, 5);
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgb(216, 216, 216);
  border: solid rgb(82, 82, 82) 2px;
  border-radius: 12px;
  padding: 3px;
}

.cardinnhold {
  flex-direction: row;
  text-align: left;
  padding: 10px;
}
